input[type="checkbox"] {
    width: 100px;
    height:100px;
}

input[type="checkbox"]:checked{
    width:75px;
    height:75px;
}

button:disabled {
    background-color: blue;
}

p {
    color:red;
}

p:empty:before {
    content: "paragrafo vazio não dá , né!"
}

input[type="text"]:focus {
    background-color: #ccc;
}

a:focus , a:hover , div:focus{
    background-color: yellowgreen;
}

input::placeholder {
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding:25px;
    margin-left: 25px;
}
