body {
    font-family: 'Open Sans';
    color:#666;
    line-height:1.7;
}

h1,h2, h3, h4 , h5 , h6 {
    color:#787878;
    font-weight:normal;
    margin: 0 0 1em;
}

h1 {
    font-size:36px;
}

h2 {
    font-size:30px;
}

h3 {
    font-size:26px;
}

h4 {
    font-size:22px;
}

h5 {
    font-size:18px;
}

h6 {
    font-size:15px;
}

p {
    margin:0 0 2em;
}

sub, sup {
    font-size:12px;
}

blockquote {
    border-left:5px solid #efefef;
    margin:2em 0 ;
    padding : .5em 0 .5em 1.5em;
}

code {
    background: #f7f7f7 ;
    border-radius:.35em;
    border:2px solid #efefef;
    display: block;

}

pre code {
    display: block;
}

ul, ol {
    margin:0;
    padding:0;
    
}
.main-header {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image:url('images/overlay.png'),url('images/bg.jpg');
    background-position:left top;
    background-size: auto, cover;
}

.main-header-title {
    font-size: 22px;
    line-height: 1.5;
    color:white;
    font-weight:normal;
    text-align: right;
    color:rgba(255,255,255,.5);
}

.main-header-title strong{
    color:white;
    font-weight: normal;
}
.main-content {
    width:65%;
    margin-left:35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.main-header-link {
    color:inherit;
}

.main-header-link:hover {
    color:#49BF9D;
}

a {
    transition: color .2s linear;
    color:#49bf9d;
}

a:hover {
    border-bottom-color:transparent;
    transition: color .2s linear;
}

ul, ol {
    list-style-position: inside;
    padding-left:.1em;
}

li {
    padding-left:.5em;
}

.ul-alternate {
    list-style-type: none;
}

.ul-alternate li {
    border-bottom: 1px solid #ccc;
    margin-left:39%;
}

.ul-alternate li:last-child {
    border:0;
    color:blue;
}

.ul-icons {
    list-style-type: none;
 
}

.ul-icons li {
    display: inline-block;
    font-size: 2em;
    color: #49BF9D;
    margin-left:37%;
}

.row {
   width: 50%;
   
}

.col-2 {
    width: 50%;
    float:left;
    
}

.table {
    clear:both;
}

.t {
    clear:both;
}

.y {
    clear:both;
}

.shaka {
    position:relative;
    left:40%;
}

.button-default {
    background-color: #49BF9D;
    border: 2px solid #49BF9D;
    color:white;
    text-decoration: none;
    padding:.75em 1.5em;
    border-radius:5px;
    
}

.button-default-stroke {
    background-color: white;
    border-color: #efefef;
    color:inherit;
}

.button-default-small {
    font-size: .6em;

}

.button-default-full {
    
    display:block;
    
    
}

.esquerda {
    width: 50%;
   
    
}

.direita {
    width: 50%;
    float: left;

    
}

.p {
    clear:both;
}

.direita2 {
    margin-left: 25%;
}

.table {
    width: 100%;
    margin:0 0 2em 0 ;
    border-collapse: collapse;
    text-align: left;
}

.table td {
    padding:.75em;
    text-align: left;
}

.table th {
    background-color: #ccc;
    text-align: left;
}

.table tbody tr:first-child td {
    border-top: 2px solid #666;
}

.table tbody tr:last-child td {
    border-top: 2px solid #666;
}

.table tbody tr tr {
    border-bottom: 1px solid red;
}

.table tbody tr td:nth-child(odd) td {
    background: #ddd;
}

.table tbody tr:first-child td {
    border-top:2px solid blue;
}

.table tbody tr:last-child td {
    border-bottom:2px solid blue;
}

.col-2 {
    width: 50%;
    float:left;
}

.col-2-3 {
    width: 66%;
    float:left;
}

.col-1-3 {
    width:33%;
    float:left;
}
