body {


	font-family: 'Roboto', sans-serif;
	font-size:18px;
	font-weight: bold;
	border-sizing:border-box;

}

.container {
	background-color:#333;
	color:#eee;
	width:80%;
	margin:auto;
	padding:20px;
	border:15px solid rgb(0,0,255);
}

.main-aside h2 {
	text-align: center;
	
}

.main-aside ul {
	list-style: none;
	text-align:center;
	padding:0;
}

.main-aside ul a {
	text-decoration:none;
	color : black;
}
